<!-- Avancement.html -->
{% extends 'base.html' %}

{% block title %}Avancement{% endblock %}

{% block content %}
    <a href="/mine">Miner un nouveau bloc</a>
    <br><br>
    <h3>Avancement du vote</h3>

    <table border="1">
        <tr>
            <th>Candidat</th>
            <th>Somme des classements</th>
        </tr>
        {% for candidat, voix in voix.items() %}
        <tr>
            <td>{{ candidat }}</td>
            <td>{{ voix }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    {% if mempool_data %}
    <h3>Mempool</h3>
    <ul>
        {% for transaction in mempool_data %}
        <li>{{ transaction }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <br>
    <h3>Etat de la blockchain</h3>
    {{ blockchain }}
    
{% endblock %}
