<!-- nouvelle_transaction.html -->
{% extends 'base.html' %}

{% block title %}Nouvelle Transaction{% endblock %}

{% block content %}


    <h1>Voter</h1>
    <form method="POST">
        <div class="form-group">
            {{ form.message.label(class="form-control-label") }}
            {{ form.message(class="form-control", size=32) }}

            
            <ul>
            <li>
                {{ form.choix1.label(class="form-control-label") }}
                {{ form.choix1 }}
            </li>
            <li>
                {{ form.choix2.label(class="form-control-label") }}
                {{ form.choix2 }}
            </li>
            <li>
            {{ form.choix3.label(class="form-control-label") }}
            {{ form.choix3 }}
            </li>
            <li>
                {{ form.choix4.label(class="form-control-label") }}
                {{ form.choix4 }}
            </li>
            <li>
                {{ form.choix5.label(class="form-control-label") }}
                {{ form.choix5 }}
            </li>
        </ul>
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}
